
<div class="bz-select-multiple container">
    <div class="selection-container">
        <span class="placeholder" ng-bind="placeholder" ng-show="selectedCollection.length===0">Select options...</span>
        <span class="selected-options-container" ng-if="selectedCollection.length!==0">
            <span class="selected-item-template" ng-repeat="item in selectedCollection">
                <span ng-bind="item[label]"></span>
                <i class="ion-close" ng-click="unselectOption(item)"></i>
            </span>
            
        </span>
        <i class="ion-chevron-down select-arrow" ng-click="openSelect()"></i>
    </div>
    <div class="clear"></div>
    <div class="options-container" ng-show="opened">
       <div class="advanced-options" ng-if="advancedOptionsEnabled">
            <ul class="advanced-options-container" >
               <li class="advanced-option" ng-if="searchEnabled">
                   <input type="text" class="search-input" ng-model="filterString.text" placeholder="Search...">
               </li>
                <li class="advanced-option" ng-if="checkAll">
                    <button class="advanced-option-btn select-all-btn" ng-click="selectAll()">select all</button>
                </li>
                <li class="advanced-option" ng-if="checkAll">
                    <button class="advanced-option-btn unselect-all-btn" ng-click="unselectAll()">unselect all</button>
                </li>
                <hr/>
            </ul>
       </div>
        <div class="option" ng-repeat="item in filteredItems" ng-click="!item.selected&&selectOption(item)" ng-class="{'selected':item.selected}">
           <span class="option-label">{{item[label]}}</span>
        </div>
    </div>
</div>
